
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{{item.image}}" alt="" /></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">{{item.title}}</a>
        </h4>
        <h5>${{item.price}}</h5>
        <p class="card-text">{{item.description.slice(0, 40) + '...'}}</p>
      </div>
       <div class="card-footer">
          <button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#' + item.id">Open Modal {{ item.id }}</button>
          <lv-item-detail [product]="item" [modalId]='item.id'></lv-item-detail>
      </div>
    </div>