<div class="ui card page_catalog-list-item">
    <div class="image page_catalog-list-item--image">
        <img src="{{item.image}}">
    </div>
    <div class="content">
        <a class="header page_catalog-list-item-header" (click)="preview(item._id)">{{item.brand}} {{item.title}}</a>
        <div class="meta">
            <span class="cinema page_catalog-list-item--price">{{item.price}} $, {{item.date}}</span>
        </div>
        <div class="description">{{item.description.slice(0, 115) + '...'}}</div>
    </div>
</div>